[submodule "pack/plugins/start/lightline"]
	path = pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "pack/plugins/start/gitgutter"]
	path = pack/plugins/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/plugins/start/slime"]
	path = pack/plugins/start/slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "pack/plugins/start/code-dark"]
	path = pack/plugins/start/code-dark
	url = https://github.com/tomasiser/vim-code-dark.git
[submodule "pack/plugins/start/syntastic"]
	path = pack/plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "pack/plugins/start/tagbar"]
	path = pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "pack/plugins/start/indentpython"]
	path = pack/plugins/start/indentpython
	url = https://github.com/vim-scripts/indentpython.vim.git
[submodule "pack/plugins/start/python-syntax"]
	path = pack/plugins/start/python-syntax
	url = https://github.com/vim-python/python-syntax.git
[submodule "pack/plugins/start/commentary"]
	path = pack/plugins/start/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/plugins/start/vinegar"]
	path = pack/plugins/start/vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "pack/plugins/start/unimpaired"]
	path = pack/plugins/start/unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "pack/plugins/start/sensible"]
	path = pack/plugins/start/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "pack/plugins/start/visual-star-search"]
	path = pack/plugins/start/visual-star-search
	url = https://github.com/nelstrom/vim-visual-star-search.git
[submodule "pack/plugins/start/Nvim-R"]
	path = pack/plugins/start/Nvim-R
	url = https://github.com/jalvesaq/Nvim-R.git
[submodule "pack/plugins/start/json"]
	path = pack/plugins/start/json
	url = https://github.com/elzr/vim-json.git
[submodule "pack/plugins/start/surround"]
	path = pack/plugins/start/surround
	url = https://github.com/tpope/vim-surround.git
